<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinotech.system.price.mapper.BunkerSchemeDtlMapper">
    <resultMap id="BaseResultMap" type="com.sinotech.system.price.model.BunkerSchemeDtl">
        <id column="scheme_dtl_id" property="schemeDtlId" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="VARCHAR"/>
        <result column="company_id" property="companyId" jdbcType="VARCHAR"/>
        <result column="scheme_id" property="schemeId" jdbcType="VARCHAR"/>
        <result column="data_type" property="dataType" jdbcType="VARCHAR"/>
        <result column="first_freight" property="firstFreight" jdbcType="DECIMAL"/>
        <result column="first_standard" property="firstStandard" jdbcType="DECIMAL"/>
        <result column="km_lower_limit" property="kmLowerLimit" jdbcType="DECIMAL"/>
        <result column="km_upper_limit" property="kmUpperLimit" jdbcType="DECIMAL"/>
        <result column="lower_limit" property="lowerLimit" jdbcType="DECIMAL"/>
        <result column="upper_limit" property="upperLimit" jdbcType="DECIMAL"/>
        <result column="add_type" property="addType" jdbcType="DECIMAL"/>
        <result column="continue_price" property="continuePrice" jdbcType="DECIMAL"/>
        <result column="max_price" property="maxPrice" jdbcType="DECIMAL"/>
        <result column="ins_user" property="insUser" jdbcType="VARCHAR"/>
        <result column="ins_time" property="insTime" jdbcType="TIMESTAMP"/>
        <result column="upd_user" property="updUser" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
        <result column="delete_status" property="deleteStatus" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    scheme_dtl_id, tenant_id, company_id, scheme_id, data_type, first_freight, first_standard, 
    km_lower_limit, km_upper_limit, lower_limit, upper_limit, add_type, continue_price, 
    max_price, ins_user, ins_time, upd_user, upd_time, delete_status
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from ba_bunker_scheme_dtl
        where delete_status=0 and scheme_dtl_id = #{schemeDtlId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ba_bunker_scheme_dtl
    where scheme_dtl_id = #{schemeDtlId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.sinotech.system.price.model.BunkerSchemeDtl">
    insert into ba_bunker_scheme_dtl (scheme_dtl_id, tenant_id, company_id, 
      scheme_id, data_type, first_freight, 
      first_standard, km_lower_limit, km_upper_limit, 
      lower_limit, upper_limit, add_type, 
      continue_price, max_price, ins_user, 
      ins_time, upd_user, upd_time, 
      delete_status)
    values (#{schemeDtlId,jdbcType=VARCHAR}, #{tenantId,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, 
      #{schemeId,jdbcType=VARCHAR}, #{dataType,jdbcType=VARCHAR}, #{firstFreight,jdbcType=DECIMAL}, 
      #{firstStandard,jdbcType=DECIMAL}, #{kmLowerLimit,jdbcType=DECIMAL}, #{kmUpperLimit,jdbcType=DECIMAL}, 
      #{lowerLimit,jdbcType=DECIMAL}, #{upperLimit,jdbcType=DECIMAL}, #{addType,jdbcType=DECIMAL}, 
      #{continuePrice,jdbcType=DECIMAL}, #{maxPrice,jdbcType=DECIMAL}, #{insUser,jdbcType=VARCHAR}, 
      #{insTime,jdbcType=TIMESTAMP}, #{updUser,jdbcType=VARCHAR}, #{updTime,jdbcType=TIMESTAMP}, 
      #{deleteStatus,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.sinotech.system.price.model.BunkerSchemeDtl">
        insert into ba_bunker_scheme_dtl
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="schemeDtlId != null">
                scheme_dtl_id,
            </if>
            <if test="tenantId != null">
                tenant_id,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="schemeId != null">
                scheme_id,
            </if>
            <if test="dataType != null">
                data_type,
            </if>
            <if test="firstFreight != null">
                first_freight,
            </if>
            <if test="firstStandard != null">
                first_standard,
            </if>
            <if test="kmLowerLimit != null">
                km_lower_limit,
            </if>
            <if test="kmUpperLimit != null">
                km_upper_limit,
            </if>
            <if test="lowerLimit != null">
                lower_limit,
            </if>
            <if test="upperLimit != null">
                upper_limit,
            </if>
            <if test="addType != null">
                add_type,
            </if>
            <if test="continuePrice != null">
                continue_price,
            </if>
            <if test="maxPrice != null">
                max_price,
            </if>
            <if test="insUser != null">
                ins_user,
            </if>
            <if test="insTime != null">
                ins_time,
            </if>
            <if test="updUser != null">
                upd_user,
            </if>
            <if test="updTime != null">
                upd_time,
            </if>
            <if test="deleteStatus != null">
                delete_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="schemeDtlId != null">
                #{schemeDtlId,jdbcType=VARCHAR},
            </if>
            <if test="tenantId != null">
                #{tenantId,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=VARCHAR},
            </if>
            <if test="schemeId != null">
                #{schemeId,jdbcType=VARCHAR},
            </if>
            <if test="dataType != null">
                #{dataType,jdbcType=VARCHAR},
            </if>
            <if test="firstFreight != null">
                #{firstFreight,jdbcType=DECIMAL},
            </if>
            <if test="firstStandard != null">
                #{firstStandard,jdbcType=DECIMAL},
            </if>
            <if test="kmLowerLimit != null">
                #{kmLowerLimit,jdbcType=DECIMAL},
            </if>
            <if test="kmUpperLimit != null">
                #{kmUpperLimit,jdbcType=DECIMAL},
            </if>
            <if test="lowerLimit != null">
                #{lowerLimit,jdbcType=DECIMAL},
            </if>
            <if test="upperLimit != null">
                #{upperLimit,jdbcType=DECIMAL},
            </if>
            <if test="addType != null">
                #{addType,jdbcType=DECIMAL},
            </if>
            <if test="continuePrice != null">
                #{continuePrice,jdbcType=DECIMAL},
            </if>
            <if test="maxPrice != null">
                #{maxPrice,jdbcType=DECIMAL},
            </if>
            <if test="insUser != null">
                #{insUser,jdbcType=VARCHAR},
            </if>
            <if test="insTime != null">
                #{insTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updUser != null">
                #{updUser,jdbcType=VARCHAR},
            </if>
            <if test="updTime != null">
                #{updTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteStatus != null">
                #{deleteStatus,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sinotech.system.price.model.BunkerSchemeDtl">
        update ba_bunker_scheme_dtl
        <set>
            <if test="tenantId != null">
                tenant_id = #{tenantId,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                company_id = #{companyId,jdbcType=VARCHAR},
            </if>
            <if test="schemeId != null">
                scheme_id = #{schemeId,jdbcType=VARCHAR},
            </if>
            <if test="dataType != null">
                data_type = #{dataType,jdbcType=VARCHAR},
            </if>
            <if test="firstFreight != null">
                first_freight = #{firstFreight,jdbcType=DECIMAL},
            </if>
            <if test="firstStandard != null">
                first_standard = #{firstStandard,jdbcType=DECIMAL},
            </if>
            <if test="kmLowerLimit != null">
                km_lower_limit = #{kmLowerLimit,jdbcType=DECIMAL},
            </if>
            <if test="kmUpperLimit != null">
                km_upper_limit = #{kmUpperLimit,jdbcType=DECIMAL},
            </if>
            <if test="lowerLimit != null">
                lower_limit = #{lowerLimit,jdbcType=DECIMAL},
            </if>
            <if test="upperLimit != null">
                upper_limit = #{upperLimit,jdbcType=DECIMAL},
            </if>
            <if test="addType != null">
                add_type = #{addType,jdbcType=DECIMAL},
            </if>
            <if test="continuePrice != null">
                continue_price = #{continuePrice,jdbcType=DECIMAL},
            </if>
            <if test="maxPrice != null">
                max_price = #{maxPrice,jdbcType=DECIMAL},
            </if>
            <if test="insUser != null">
                ins_user = #{insUser,jdbcType=VARCHAR},
            </if>
            <if test="insTime != null">
                ins_time = #{insTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updUser != null">
                upd_user = #{updUser,jdbcType=VARCHAR},
            </if>
            <if test="updTime != null">
                upd_time = #{updTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteStatus != null">
                delete_status = #{deleteStatus,jdbcType=VARCHAR},
            </if>
        </set>
        where scheme_dtl_id = #{schemeDtlId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sinotech.system.price.model.BunkerSchemeDtl">
    update ba_bunker_scheme_dtl
    set tenant_id = #{tenantId,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=VARCHAR},
      scheme_id = #{schemeId,jdbcType=VARCHAR},
      data_type = #{dataType,jdbcType=VARCHAR},
      first_freight = #{firstFreight,jdbcType=DECIMAL},
      first_standard = #{firstStandard,jdbcType=DECIMAL},
      km_lower_limit = #{kmLowerLimit,jdbcType=DECIMAL},
      km_upper_limit = #{kmUpperLimit,jdbcType=DECIMAL},
      lower_limit = #{lowerLimit,jdbcType=DECIMAL},
      upper_limit = #{upperLimit,jdbcType=DECIMAL},
      add_type = #{addType,jdbcType=DECIMAL},
      continue_price = #{continuePrice,jdbcType=DECIMAL},
      max_price = #{maxPrice,jdbcType=DECIMAL},
      ins_user = #{insUser,jdbcType=VARCHAR},
      ins_time = #{insTime,jdbcType=TIMESTAMP},
      upd_user = #{updUser,jdbcType=VARCHAR},
      upd_time = #{updTime,jdbcType=TIMESTAMP},
      delete_status = #{deleteStatus,jdbcType=VARCHAR}
    where scheme_dtl_id = #{schemeDtlId,jdbcType=VARCHAR}
  </update>
    <insert id="batchInsertSelective" parameterType="java.util.List">
        insert into ba_bunker_scheme_dtl(tenant_id,company_id,scheme_id,data_type,
        scheme_dtl_id,first_freight,first_standard,km_lower_limit,km_upper_limit,
        lower_limit,upper_limit,add_type,
        continue_price,max_price,
        ins_user,ins_time,upd_user,
        upd_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            <choose>
                <when test="item.tenantId != null">
                    #{item.tenantId,jdbcType=VARCHAR},
                </when>
                <otherwise>
                    DEFAULT,
                </otherwise>
            </choose>
            <choose>
                <when test="item.companyId != null">
                    #{item.companyId,jdbcType=VARCHAR},
                </when>
                <otherwise>
                    DEFAULT,
                </otherwise>
            </choose>
            <choose>
                <when test="item.schemeId != null">
                    #{item.schemeId,jdbcType=VARCHAR},
                </when>
                <otherwise>
                    DEFAULT,
                </otherwise>
            </choose>
            <choose>
                <when test="item.dataType != null">
                    #{item.dataType,jdbcType=VARCHAR},
                </when>
                <otherwise>
                    DEFAULT,
                </otherwise>
            </choose>
            <choose>
                <when test="item.schemeDtlId != null">
                    #{item.schemeDtlId,jdbcType=VARCHAR},
                </when>
                <otherwise>
                    DEFAULT,
                </otherwise>
            </choose>
            <choose>
                <when test="item.firstFreight != null">
                    #{item.firstFreight,jdbcType=DECIMAL},
                </when>
                <otherwise>
                    DEFAULT,
                </otherwise>
            </choose>
            <choose>
                <when test="item.firstStandard != null">
                    #{item.firstStandard,jdbcType=DECIMAL},
                </when>
                <otherwise>
                    DEFAULT,
                </otherwise>
            </choose>
            <choose>
                <when test="item.kmLowerLimit != null">
                    #{item.kmLowerLimit,jdbcType=DECIMAL},
                </when>
                <otherwise>
                    DEFAULT,
                </otherwise>
            </choose>
            <choose>
                <when test="item.kmUpperLimit != null">
                    #{item.kmUpperLimit,jdbcType=DECIMAL},
                </when>
                <otherwise>
                    DEFAULT,
                </otherwise>
            </choose>
            <choose>
                <when test="item.lowerLimit != null">
                    #{item.lowerLimit,jdbcType=DECIMAL},
                </when>
                <otherwise>
                    DEFAULT,
                </otherwise>
            </choose>
            <choose>
                <when test="item.upperLimit != null">
                    #{item.upperLimit,jdbcType=DECIMAL},
                </when>
                <otherwise>
                    DEFAULT,
                </otherwise>
            </choose>
            <choose>
                <when test="item.addType != null">
                    #{item.addType,jdbcType=DECIMAL},
                </when>
                <otherwise>
                    DEFAULT,
                </otherwise>
            </choose>
            <choose>
                <when test="item.continuePrice != null">
                    #{item.continuePrice,jdbcType=DECIMAL},
                </when>
                <otherwise>
                    DEFAULT,
                </otherwise>
            </choose>
            <choose>
                <when test="item.maxPrice != null">
                    #{item.maxPrice,jdbcType=DECIMAL},
                </when>
                <otherwise>
                    DEFAULT,
                </otherwise>
            </choose>
            <choose>
                <when test="item.insUser != null">
                    #{item.insUser,jdbcType=VARCHAR},
                </when>
                <otherwise>
                    DEFAULT,
                </otherwise>
            </choose>
            <choose>
                <when test="item.insTime != null">
                    #{item.insTime,jdbcType=TIMESTAMP},
                </when>
                <otherwise>
                    DEFAULT,
                </otherwise>
            </choose>
            <choose>
                <when test="item.updUser != null">
                    #{item.updUser,jdbcType=VARCHAR},
                </when>
                <otherwise>
                    DEFAULT,
                </otherwise>
            </choose>
            <choose>
                <when test="item.updTime != null">
                    #{item.updTime,jdbcType=TIMESTAMP}
                </when>
                <otherwise>
                    DEFAULT
                </otherwise>
            </choose>
            )
        </foreach>
    </insert>
    <update id="deleteBySchemeIdList" parameterType="java.lang.String" >
        update ba_bunker_scheme_dtl set delete_status=1
        where delete_status=0 and scheme_id in
        <foreach collection="schemeIdList" item="item" open="(" separator="," close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </update>
    <select id="selectBunkerSchemeDtlBySchemeId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ba_bunker_scheme_dtl
        where delete_status=0 and scheme_id = #{schemeId,jdbcType=VARCHAR}
        order by lower_limit
    </select>
    <select id="selectBunkerSchemeDtlBySchemeIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ba_bunker_scheme_dtl
        where delete_status=0
        and scheme_id in
        <foreach collection="schemeIdList" item="item" open="(" separator="," close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </select>
</mapper>